{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section id="blog" class="title-bg section-full">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-8">
            <div class="product-area-title text-center">
               <p class="text-uppercase text-white">{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }} | {{ if isset .Params "author" }} {{ $author := index .Site.Data.authors .Params.author }} <i class="fa fa-user"></i> {{ $author.name }} {{ else }} <i class="fa fa-user"></i> Unknown {{ end }}</p>
               <h1 class="text-white">{{ .Title }} </h1>
               {{ range .Params.tags }}
               <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="badge badge-info"> # {{ . }}</a> </li>
               {{ end }}
               
            </div>
         </div>
      </div>
   </div>
</section>	

<main>
    <article class="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-10 mx-auto">
                    <div class="row wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                     {{.Content}}
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

<section class="section-full gray-bg">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-8">
            <div class="product-area-title text-center">
               <h3 class="h4">
               Lihat juga Lainnya ...</h2>
            </div>
         </div>
      </div>
      <div class="row">
        {{ if .Params.latestproduct }}
         {{ partial "LatestProductShop" . }}
        {{ end }}
        
         {{ range first 60 .Pages }}
         <div class="col-md-4">
            <figure class="signle-service">

               <img src="https://ce880219c.cloudimg.io/crop/200x150/x/{{ .Params.thumbnail | absURL }}" class="img-fluid" alt="{{.Title}}">

               <figcaption class="text-center">
                  <h2 class="h5"><a href="{{.Permalink}}"> {{.Title}}</a></h2>
                  <br />
                  <p class="lead">
                  <span>{{.Site.Params.currency}} <strong>{{ .Params.price }}</strong></span> - 
                  <span class="mr-1">{{ if .Params.discount }}<del>{{ .Site.Params.currency }} <strong>{{ .Params.discount }}</strong> </del></span>{{end}}
                  <div class="text-warning">
                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                  </div>
                  </p>

                  <p>{{ .Summary }}</p>
                  <a href="{{ .Permalink }}" class="primary-btn d-inline-flex align-items-center">{{ .Params.buynow_text }}<span class="lnr lnr-arrow-right"></span></a>
               </figcaption>
            </figure>
         </div>
         {{ end }}
      </div>
   </div>
</section>


{{ partial "footer.html" . }}

{{ partial "schema/Reviews.html" . }}
</body>
</html>