{{ partial "head.html" . }} 
{{ partial "header.html" . }}

<section id="blog" class="title-bg section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase text-white">{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }} | {{ if isset .Params "author" }} {{ $author := index .Site.Data.authors .Params.author }} <i class="fa fa-user"></i> {{ $author.name }} {{ else }} <i class="fa fa-user"></i> Unknown {{ end }}</p>
                    <h1 class="text-white">{{ .Title }} </h1> {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="badge badge-info"> # {{ . }}</a> </li>
                    {{ end }}

                </div>
            </div>
        </div>
    </div>
</section>

<main>
    <article class="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-10 mx-auto">
                    <div class="row wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">

                        <!--Grid column-->
                        <div class="col-md-6 mb-4">

                            <img src="{{ .Params.thumbnail}}" class="img-fluid" alt="">

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6 mb-4">

                            <!--Content-->
                            <div class="p-4">

                                <p class="lead">
                                    Harga :
                                    <span class="mr-1">
                <del>{{.Site.Params.currency}} {{ .Params.price }}</del> - 
              </span>
                                    <span> {{.Site.Params.currency}} {{ .Params.discount }}</span>
                                </p>

                                <p class="lead font-weight-bold">Description</p>

                                <p>{{ .Description }}</p>
                                <a href="{{ .Params.referral }}" class="btn btn-primary">Beli Sekarang
                                <i class="fa fa-shopping-cart ml-1"></i>
                                </a>
                                </form>

                            </div>
                            <!--Content-->

                        </div>
                        <!--Grid column-->
                    </div>

                    <hr>

                    <div class="row d-flex justify-content-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                        <!--Grid column-->
                        <div class="col-md-8 text-center">

                            <h4 class="my-4 h4">Additional information</h4>

                            <p>{{ .Content }}</p>

                        </div>
                        <!--Grid column-->

                    </div>

                </div>
            </div>
        </div>
    </article>
</main>

<aside class="section-full gray-bg" role="complementary" itemscope itemtype="http://schema.org/WPSideBar">
   <div class="container">
      {{ $related := .Site.RegularPages.Related . | first 20 }}
      {{ with $related }}
      <div class="row justify-content-center">
         <div class="col-lg-8">
            <div class="product-area-title text-center">
               <h3 class="h4">
               Lihat juga Lainnya ...</h2>
            </div>
         </div>
      </div>
      {{ range . }}
      <div class="col-lg-8 col-md-10 mx-auto">
         <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
               <h2 class="h4 mb-0">
                  <a class="text-dark" href="{{ .RelPermalink }}" title="{{.Title}}">{{.Title}}</a>
               </h2>
               <br />
               <p><strong>{{.Site.Params.currency}} {{ .Params.price }}</strong></p>
               <p class="card-text mb-auto">{{ .Summary | truncate 200 }}</p>
               <a class="btn btn-primary btn-md my-0 p waves-effect waves-light" href="{{ .RelPermalink }}">Lihat Produk →</a>
              
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" alt="{{ .Title }}" style="width: 200px; height: 250px;" src="{{ .Params.thumbnail}}">
         </div>
      </div>
      {{end}}
      
      {{end}}
   </div>
</aside>

{{ partial "footer.html" . }} 
{{ partial "schema/Products.html" . }}

</html>